/vendor
/node_modules
/.idea
Homestead.yaml
Homestead.json
.env
**/.DS_Store

.ebextensions/1-env-vars.config

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
