@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?48450723');
  src: url('../font/fontello.eot?48450723#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?48450723') format('woff'),
       url('../font/fontello.ttf?48450723') format('truetype'),
       url('../font/fontello.svg?48450723#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}