
option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public

container_commands:
  1-init-db:
    command: "php artisan migrate --env=production; php artisan db:seed"
  # 2-set-app-url:
  #   command: 'aws elasticbeanstalk update-environment --option-settings Namespace=aws:elasticbeanstalk:application:environment,OptionName=APP_URL,Value=$(aws elasticbeanstalk describe-environments --environment-names hls-laravel-env --query "Environments[*].CNAME" --output text)'