option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public

aws:elasticbeanstalk:application:environment:
  APP_ENV: prod
  APP_DEBUG: true
  API_PREFIX: api

container_commands:
  0-create-db:
    command: "eb create -db -db.user ebroot -db.pass $(openssl rand -base64 24)"
  1-init-db:
    command: "php artisan migrate; php artisan db:seed"
  2-set-app-url:
    command: 'eb setenv APP_URL=$(aws elasticbeanstalk describe-environments --environment-names hls-laravel-env --query "Environments[*].CNAME" --output text)'
  3-set-random-key:
    command: "eb setenv APP_KEY=$(openssl rand -base64 24)"
