<md-toolbar class="md-whiteframe-1dp">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <span hide-sm hide-md>Hertfordshire Law Society</span>
        <span flex class="flex"></span>
        <span><h6><a ui-sref="member-requests">Member Requests</a></h6></span> |
        <span><h6><a ui-sref="enquiries">Enquiries</a></h6></span> |
        <span><h6><a ui-sref="events">Events</a></h6></span>
    </div>
</md-toolbar>

<div class="container col-lg-10 col-lg-offset-1">

    <br>
    <h4>
        Articles
        <button class="btn btn-primary pull-right" ui-sref="create-article">Create article</button>
    </h4>


    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Title</th>
                <th width="86px">Published</th>
                <th>Brief Content</th>
                <th>Archived</th>
            </tr>
        </thead>
        <tbody ng-repeat="article in articles.articles">
            <tr ui-sref="edit-article({ id: article.id })">
                <td>{{article.title}}</td>
                <td>{{article.published_at}}</td>
                <td>{{article.brief}}</td>
                <td><input type="checkbox" ng-model="article.archived" disabled></td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-danger" ng-if="articles.error">
        <strong>There was an error: </strong> {{articles.error.message}}
    </div>

</div>