<div class="container col-lg-10 col-lg-offset-1">

    <br>
    <div class="well col-lg-10 col-lg-offset-1">
        <form class="form-horizontal" >
            <legend>Edit Article</legend>
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="title">Title</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="title" type="text" placeholder="Title" ng-model="article.article.title">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label" for="brief">Brief</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" id="brief" rows="3" ng-model="article.article.brief"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label" for="extended">Extended</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" id="extended" rows="16" ng-model="article.article.extended"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label" for="image_url">Image</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="image_url" type="text" placeholder="Image URL" ng-model="article.article.image_url">
                        <br>
                        <img ng-src="{{article.article.image_url}}" ng-if="article.article.image_url">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label" for="archived">Archived</label>
                    <div class="col-lg-10">
                        <input id="archived" type="checkbox" ng-model="article.article.archived">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default" ui-sref="articles">Cancel</button>
                        <button class="btn btn-primary btn-update" ng-click="article.update()">
                            <span ng-if="!article.processing">Update</span>
                            <span ng-if="article.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
                        </button>
                        <button class="btn btn-danger pull-right" data-toggle="modal" data-target=".modal">Delete</button>
                    </div>
                </div>

                <div class="alert alert-success col-lg-8 col-lg-offset-2" ng-if="article.success">
                    <strong>{{article.success}}</strong>
                </div>

            </fieldset>
        </form>

        <div class="alert alert-danger col-lg-8 col-lg-offset-2" ng-if="article.error">
            <strong>There was an error: </strong> {{article.error.message}}
        </div>

        <div class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete article</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this article?</p>
                        <p><b>This cannot be undone.</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger btn-destroy" ng-click="article.destroy()">
                            <span ng-if="!article.processingDestroy">Delete article</span>
                            <span ng-if="article.processingDestroy" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>