<div class="page-header">
	<h1>
		Users
		<a href="users/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New Administrator
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="users.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Users...</p>
</div>

<table class="table table-bordered table-striped table-hover" ng-show="users.data">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users.data">
			<td>{{ user.id }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.email }}</td>
			<td class="col-sm-2">
                <a ng-href="users/{{ user.id }}" class="btn btn-danger">Edit</a>
                <a ng-click="users.deleteUser(user.id)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
