// Google fonts links hacked up so they work in stylus

//- Open Sans:300 -//
@import 'http://fonts.googleapis.com/css?family=Open+Sans:300 .css'
  
  //- Roboto -//
@import 'http://fonts.googleapis.com/css?family=Roboto:400 .css'

  //- Goudy Ampersand -//
@import 'http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic&text=%26 .css'